BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: true
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<itk'
    Priority: 3
  - Regex:    '^<vtk'
    Priority: 4
  - Regex:    '^<(dlg_|iA|io/|qthelper/|mainwindow|mdichild)'
    Priority: 2
  - Regex:    '^<Q'
    Priority: 5
  - Regex:    '<[[:alnum:].]+>'
    Priority: 6
  - Regex:    '.*'
    Priority: 1
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyBreakAssignment: 10
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
# PointerBindsToType: false # seems to be an old setting (clang < 4)
ReflowComments: false
SortIncludes: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
# not supported by clang 6.0:
# SpacesInConditionalStatement: false
# AllowAllArgumentsOnNextLine: false 
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: ForContinuationAndIndentation

# existing pain points:
# - messes up Macro definition (TypedCallHelper - adds unwanted indentation)
# - breaks before each << symbol after the first (iALog.cpp -> AvailableLogLevels)
# - most changes currently: alignment of */& -> should we maybe use PointerAlignment:Middle ?